{% extends "shop/base.html" %}
{% block title %}آدرس‌های من - آشا شاپ{% endblock %}
{% block body_class %}lang-fa lang-rtl country-ir currency-irr layout-left-column page-address tax-display-enabled page-customer-account customer-has-logged st-wrapper{% endblock %}
{% block content %}
<nav class="breadcrumb-wrapper">
    <div class="container">
        <ol class="breadcrumb" data-depth="3" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" href="/">
                    <i class="fa fa-home home" aria-hidden="true"></i>
                    <span itemprop="name">خانه</span>
                </a>
                <meta itemprop="position" content="1">
            </li>
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <span class="separator material-icons">chevron_right</span>
                <a itemprop="item" href="/profile">
                    <span itemprop="name">حساب کاربری</span>
                </a>
                <meta itemprop="position" content="2">
            </li>
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <span class="separator material-icons">chevron_right</span>
                <a itemprop="item" href="/profile/addresses">
                    <span itemprop="name">آدرس‌ها</span>
                </a>
                <meta itemprop="position" content="3">
            </li>
        </ol>
    </div>
</nav>

<div class="main-content">
    <div class="container">
        <div class="row">
            {% include "shop/_profile_sidebar.html" %}
            <div id="center-column" class="center-column col-12 col-md-8 col-lg-9">
                <div class="center-wrapper">
                    <section id="main" class="box-bg-title-body">
                        <div class="title">
                            <h4 class="page-heading" style="margin-bottom: 0; font-size: 1.2rem; padding: 0;">
                                آدرس‌های شما
                            </h4>
                        </div>
                        <div class="body">
                            <section id="content" class="page-content">
                                {% if notification %}
                                <aside id="notifications">
                                    <div class="container">
                                        <article class="alert alert-success" role="alert" data-alert="success">
                                            <ul>
                                                <li>{{ notification }}</li>
                                            </ul>
                                        </article>
                                    </div>
                                </aside>
                                {% endif %}
                                <div class="row">
                                    {% for item in addresses %}
                                    <div class="col-12 col-md-12">
                                        <article class="address address-box-bg">
                                            <div class="address-body">
                                                <div class="address-header">
                                                    <div style="display: flex">
                                                        <h5>{{ item.alias or '' }}</h5>
                                                        <span class="fullname-address" style="padding: 0 0.5rem;">{{ item.first_name }} {{ item.last_name }}</span>
                                                    </div>
                                                    <div style="display: flex">
                                                        <a href="/profile/addresses/edit/{{ item.id }}" data-link-action="edit-address" style="border-left: 1px solid #6666;padding: 0 0.5rem;color: #00a8ff;">
                                                            <i class="d-none material-icons">&#xe254;</i>
                                                            <span class="edit-address">ویرایش</span>
                                                        </a>
                                                        <a style="padding: 0 0.5rem;" href="/profile/addresses/delete/{{ item.id }}" data-link-action="delete-address" onclick="return confirm('آدرس حذف شود؟')">
                                                            <i class="d-none material-icons">&#xe872;</i>
                                                            <span class="delete-address">حذف</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <span class="fullname-address d-none" style="padding: 1rem 1.5rem;">{{ item.first_name }} {{ item.last_name }}</span>
                                                <div class="address-content">
                                                    <i class="fa fa-map-marker" aria-hidden="true" style="color: #e70036"></i>
                                                    <address>ایران ، {% if item.province_city %}{{ item.province_city.name }}{% endif %} ، {{ item.address_description }}</address>
                                                </div>
                                                <div class="address-footer">
                                                    <div class="post-code">
                                                        <span>{{ item.postal_code }}</span>
                                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="mobile">
                                                        <span>{{ item.phone_number }}</span>
                                                        <i class="fa fa-mobile" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="phone">
                                                        <span>{{ item.telephone or '--------' }}</span>
                                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="clearfix"></div>
                                <div class="addresses-footer">
                                    <a href="/profile/addresses/create" data-link-action="add-address" class="btn add-address-btn add-btn">
                                        <span>ایجاد آدرس جدید</span>
                                    </a>
                                </div>
                            </section>
                        </div>
                        <div class="page-footer"></div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}