<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="theme-color" content="{{ theme.header_bg }}">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}فروشگاه آشا شاپ{% endblock %}</title>
    <meta name="description" content="فروشگاه تخصصی لیزر و اپتیک همدوس فروش اینترنتی لیزر، قطعات اپتیکی و فوتونیکی با کیفیت و قیمت مناسب">
    <meta name="keywords" content="فروشگاه تخصصی الکترونیک، لیزر، اپتیک، فوتونیک، قطعات الکترونیکی">
    <meta name="enamad" content="954080" />
    {% block meta %}{% endblock %}
    <link rel="icon" type="image/vnd.microsoft.icon" href="/static/ThemeLayout/img/laserfavicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/static/ThemeLayout/img/laserfavicon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/static/ThemeLayout/theme.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/ThemeLayout/ps_searchbar.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/ThemeLayout/style_rtl.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/ThemeLayout/jquery.rateyo.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/ThemeLayout/productrating.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/ThemeLayout/override.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/ThemeLayout/jquery-ui.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/ThemeLayout/jquery.ui.theme.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/ThemeLayout/wishlist.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/ThemeLayout/jquery.fancybox.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/ThemeLayout/custom_rtl.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/ThemeLayout/vazirmatn.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/ThemeLayout/mobile.css?v=7" type="text/css" media="all">
    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    <script src="/static/lib/slick-carousel/slick.min.js"></script>
    <script src="/static/ThemeLayout/js/js.js"></script>
    <script>
        var prestashop = {
            "cart": { "products": [], "totals": { "total": { "type": "total", "label": "مجموع", "amount": 0, "value": "0 ریال" }, "total_including_tax": { "type": "total", "label": "جمع (با مالیات)", "amount": 0, "value": "0 ریال" }, "total_excluding_tax": { "type": "total", "label": "هزینه نهایی (بدون مالیات)", "amount": 0, "value": "0 ریال" } }, "subtotals": { "products": { "type": "products", "label": "جمع محصولات", "amount": 0, "value": "0 ریال" }, "discounts": null, "shipping": { "type": "shipping", "label": "ارسال", "amount": 0, "value": "" }, "tax": null }, "products_count": 0, "summary_string": "0 مورد", "vouchers": { "allowed": 1, "added": [] }, "discounts": [], "minimalPurchase": 0, "minimalPurchaseRequired": "" },
            "currency": { "id": 1, "name": "ریال ایران", "iso_code": "IRR", "iso_code_num": "364", "sign": "ریال" },
            "customer": { "is_logged": {{ 'true' if current_user else 'false' }} },
            "language": { "name": "پارسی (Persian)", "iso_code": "fa", "locale": "fa-IR", "language_code": "fa-ir", "is_rtl": "1", "date_format_lite": "Y-m-d", "date_format_full": "Y-m-d H:i:s", "id": 1 },
            "page": { "title": "", "canonical": null, "meta": { "title": "فروشگاه تخصصی الکترونیک" } }
        };
        var productsAlreadyTagged = [];
        var removeFromWishlistUrl = "#";
        var varGetFinalDateController = "#";
        var varGetFinalDateMiniatureController = "#";
        var varPSAjaxCart = 1;
        var wishlistAddProductToCartUrl = "#";
        var wishlistUrl = "#";
    </script>
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% block og_title %}فروشگاه تخصصی آشا شاپ{% endblock %}">
    <meta property="og:description" content="فروشگاه تخصصی الکترونیک، لیزر، اپتیک و فوتونیک">
    <meta property="og:image" content="/static/ThemeLayout/img/logo.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% block twitter_title %}فروشگاه تخصصی آشا شاپ{% endblock %}">
    <meta name="twitter:description" content="فروشگاه تخصصی الکترونیک، لیزر، اپتیک و فوتونیک">
    <meta name="twitter:image" content="/static/ThemeLayout/img/logo.jpg">
    <style type="text/css">
        :root {
            --c-primary: {{ theme.primary }};
            --c-primary-hover: {{ theme.primary_hover }};
            --c-accent: {{ theme.accent }};
            --c-accent-hover: {{ theme.accent_hover }};
            --c-text: {{ theme.text_color }};
            --c-muted: {{ theme.text_muted }};
            --c-body-bg: {{ theme.body_bg }};
            --c-header-bg: {{ theme.header_bg }};
            --c-border: {{ theme.border_color }};
            --c-control-bg: {{ theme.control_bg }};
            --c-slider-bg: {{ theme.slider_bg }};
        }
        a, .btn-outline-primary, .btn-outline-primary.disabled, .btn-outline-primary:disabled, .btn-link, .page-link, .text-primary, .products-selection .total-products p, .products-selection .products-sort-order .product-display .display-select .selected, #header .left-nav-trigger .left-nav-icon, #footer .footer-about-us .fa, #footer .footer-about-us .material-icons, .feature .material-icons, .feature .fa, .feature2 a:hover { color: var(--c-primary) }
        .btn-primary, .btn-primary.disabled, .btn-primary:disabled, .btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle, .nav-pills .nav-link.active, .nav-pills .show > .nav-link, .page-item.active .page-link, .badge-primary, .progress-bar, .list-group-item.active, .bg-primary, .btn.btn-primary, .btn.btn-primary.disabled, .btn.btn-primary:disabled, .group-span-filestyle .btn-default, .add-to-cart, .add-to-cart.disabled, .add-to-cart:disabled, .sidebar-currency .currency-list .current .dropdown-item, .sidebar-language .language-list .current .dropdown-item, .pace .pace-progress, .pace-bounce .pace-activity, #header .mobile-header-version .mobile-menu-icon, .banner3:hover, #product-comments-list-pagination ul li.active span { background-color: var(--c-primary) }
        .btn-primary, .btn-primary.disabled, .btn-primary:disabled, .btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle, .page-item.active .page-link, .list-group-item.active, .border-primary, .product-combinations .combination-item.active .switch-cbnt, .product-swatches .swatches-list > li.selected > span, .pace .pace-activity { border-color: var(--c-primary) }
        .btn-primary:hover, .btn-primary:focus, .btn.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .btn.btn-primary:not(:disabled):not(.disabled):active, .btn.btn-primary:not(:disabled):not(.disabled).active, .add-to-cart:hover, .add-to-cart:not(:disabled):not(.disabled):active, .add-to-cart:not(:disabled):not(.disabled).active { background-color: var(--c-primary-hover) }
        a:hover, .btn-link:hover, .page-link:hover, .product-price, .price-total, .product-name a:hover, a.product-name:hover, .product-list .product-miniature .grid-hover-btn a, .main-product-details .product-cover .layer .zoom-in, #product-modal .arrows, .cart-items-review .product-line-grid .product-prices .qty, .st-menu-close:hover, .aone-slideshow .nivoSlider .nivo-directionNav .nivo-prevNav, .aone-slideshow .nivoSlider .nivo-directionNav .nivo-nextNav, #header .left-nav-trigger .left-nav-icon:hover, .feature a:hover, .feature2 .material-icons, .feature2 .fa, .icon-link:hover { color: var(--c-accent) }
        .custom-checkbox input[type="checkbox"]:checked + .check-shape, .custom-radio input[type="radio"]:checked + .check-shape, .category-tree > ul > li > a:hover:before, .discount-percentage, .discount-amount, .product-flags .product-flag.discount span, .product-flags .product-flag.on-sale span, .add-to-cart.added:after, .main-product-details .scroll-box-arrows .left, .main-product-details .scroll-box-arrows .right, .cart-preview .cart-header .cart-products-count, .slick-prev, .slick-next, .slick-dots li button, .anav-top .amenu-link > sup, .anav-top .acategory-content .category-subs li a:hover:before, .aone-slideshow .nivoSlider .nivo-controlNav a, .aone-popupnewsletter button.close, #header .sticky-icon-cart .cart-products-count, #scrollTopButton .scroll-button, .typoImageSlider .scrollArrows .left, .typoImageSlider .scrollArrows .right { background-color: var(--c-accent-hover) }
        #wrapper { background-color: var(--c-body-bg) }
        .icon-link:hover, .active-filters .filter-block .material-icons, .product-list .product-miniature .grid-hover-btn a, .main-product-details .product-cover .layer .zoom-in, #product-modal .arrows, .st-menu-close:hover, .aone-slideshow .nivoSlider .nivo-directionNav .nivo-prevNav, .aone-slideshow .nivoSlider .nivo-directionNav .nivo-nextNav { color: var(--c-primary-hover) }
        .modal .modal-header .close:hover, .add-to-cart.added:after, .main-product-details .scroll-box-arrows .left, .main-product-details .scroll-box-arrows .right, .slick-prev, .slick-next, .slick-dots li button, .aone-slideshow .nivoSlider .nivo-controlNav a, .aone-popupnewsletter button.close, #scrollTopButton .scroll-button, .typoImageSlider .scrollArrows .left, .typoImageSlider .scrollArrows .right { background-color: var(--c-primary) }
        .aone-slideshow .nivoSlider .nivo-controlNav a.active { border-color: #fd6282 }
        .slick-prev:before, .slick-next:before { font-family: Arial, sans-serif; font-weight: bold; font-size: 15px; line-height: 30px; }
        .slick-prev:before { content: ">>" !important; }
        .slick-next:before { content: "<<" !important; }
        @media (min-width: 992px) {
            .aone-homepage .product-list .js-home-block-slider .slick-prev,
            .aone-homepage .product-list .js-home-block-slider .slick-next {
                position: absolute; top: -50px; opacity: 1; z-index: 25; }
            .aone-homepage .product-list .js-home-block-slider .slick-prev { left: 10px; right: auto; }
            .aone-homepage .product-list .js-home-block-slider .slick-next { left: 41px; right: auto; }
        }
        @media (min-width: 992px) {
            .sidebar-column .column-wrapper { position: sticky; top: 80px; }
        }
    </style>
    {% block extra_head %}{% endblock %}
</head>
<body id="{% block body_id %}index{% endblock %}" class="{% block body_class %}lang-fa lang-rtl country-ir currency-irr layout-left-column page-index tax-display-enabled st-wrapper{% endblock %}">
    {% set site_settings = request.state.site_settings %}
    <div class="st-menu st-effect-left" data-st-menu>
        <div class="st-menu-title h4">شاخه‌ها</div>
        {% include "shop/_category_sidebar.html" %}
    </div>
    <div class="st-menu profile-effect-left" data-profile-menu>
        <div class="block-myaccount-infos column-block">
            <div class="column-title row">
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-4 col-xs-4 text-center">
                    <i class="fa fa-user-circle-o fa-3x text-muted"></i>
                </div>
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-8 col-xs-8">
                    <span class="fullname">{{ current_user.full_name or current_user.phone_number if current_user else 'کاربر' }}</span>
                    <a href="/profile" rel="nofollow">
                        <i style="margin: 3px" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <span class="edit-info">ویرایش اطلاعات</span>
                    </a>
                </div>
            </div>
            <div class="account-list">
                <ul class="linklist">
                    <li><a href="/profile" title="داشبورد" rel="nofollow"><i class="fa fa-th-large"></i><span>داشبورد</span></a></li>
                    <li><a href="/orders/unpaid" title="سفارش‌های پرداخت نشده" rel="nofollow"><i class="fa fa-hourglass-start"></i><span>سفارش‌های پرداخت نشده</span></a></li>
                    <li><a href="/orders/history" title="تاریخچه سفارشات" rel="nofollow"><i class="fa fa-history"></i><span>تاریخچه سفارشات</span></a></li>
                    <li><a href="/profile/identity" title="اطلاعات هویتی" rel="nofollow"><i class="fa fa-credit-card"></i><span>اطلاعات هویتی</span></a></li>
                    <li><a href="/profile/favorites" title="علاقه‌مندی‌ها" rel="nofollow"><i class="fa fa-heart"></i><span>علاقه‌مندی‌ها</span></a></li>
                    <li><a href="/profile/addresses" title="آدرس‌ها" rel="nofollow"><i class="fa fa-map-marker"></i><span>آدرس‌ها</span></a></li>
                    <li><a href="/profile/register-receipt" title="ثبت فیش" rel="nofollow"><i class="fa fa-file-text-o"></i><span>ثبت فیش</span></a></li>
                    <li><a href="/profile/bank-info" title="اطلاعات حساب بانکی" rel="nofollow"><i class="fa fa-university"></i><span>اطلاعات حساب بانکی</span></a></li>
                    <li><a href="/profile/change-password" title="عملیات رمز عبور" rel="nofollow"><i class="fa fa-key"></i><span>عملیات رمز عبور</span></a></li>
                    <li><a href="/profile/phone-numbers" title="شماره‌های شما" rel="nofollow"><i class="fa fa-address-card"></i><span>شماره‌های شما</span></a></li>
                </ul>
            </div>
            <div class="footer">
                <a class="logout" href="/auth/logout" rel="nofollow"><i class="fa fa-sign-out"></i><span>خروج</span></a>
            </div>
        </div>
    </div>
    <main id="page" class="st-pusher">
        {% include "shop/_header.html" %}
        <section id="wrapper" style="overflow-x: visible">
            {% block content %}{% endblock %}
        </section>
        {% include "shop/_footer.html" %}
    </main>
    <div class="js-popup-newsletter-form" data-ajax-submit-url="#"></div>
    <div id="scrollTopButton" data-scroll-to-top>
        <a class="scroll-button" href="#" title="بازگشت به بالا" data-toggle="tooltip" data-placement="top"><i class="fa fa-angle-double-up"></i></a>
    </div>
    <nav id="mobile-bottom-nav">
        <span class="mbn-indicator"></span>
        <a href="/" class="mbn-item mbn-home" data-mbn-index="0" title="خانه">
            <span class="mbn-icon"><i class="fa fa-home" aria-hidden="true"></i></span>
            <span class="mbn-label">خانه</span>
        </a>
        <a href="/cart" class="mbn-item mbn-cart" data-mbn-index="1" title="سبد خرید">
            <span class="mbn-icon">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                <span class="mbn-cart-badge js-mobile-cart-count">{{ cart_count or 0 }}</span>
            </span>
            <span class="mbn-label">سبد خرید</span>
        </a>
        <button type="button" class="mbn-item mbn-categories" data-mbn-index="2" data-mobile-categories-trigger title="دسته‌بندی‌ها">
            <span class="mbn-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
            <span class="mbn-label">دسته‌بندی</span>
        </button>
    </nav>
    <div id="mobile-categories-overlay" data-mobile-categories-close></div>
    <aside id="mobile-categories-drawer" aria-label="دسته‌بندی‌ها">
        <div class="mcd-header">
            <h3 class="mcd-title">دسته‌بندی‌ها</h3>
            <button type="button" class="mcd-close" data-mobile-categories-close aria-label="بستن"><i class="fa fa-close" aria-hidden="true"></i></button>
        </div>
        <div class="mcd-body">
            {% include "shop/_category_sidebar.html" %}
        </div>
    </aside>
    <div class="st-menu-right st-effect-right" data-st-cart>
        <div class="st-menu-close d-flex" data-close-st-cart><i class="material-icons">close</i></div>
        <div id="js-cart-sidebar" class="sidebar-cart cart-preview">
            <div class="cart-dropdown-wrapper">
                <div class="cart-title h4">سبد خرید</div>
                <div class="no-items">سبد خرید شما خالی است</div>
            </div>
            <div class="js-cart-update-quantity page-loading-overlay cart-overview-loading">
                <div class="page-loading-backdrop d-flex align-items-center justify-content-center">
                    <span class="uil-spin-css"><span><span></span></span><span><span></span></span><span><span></span></span><span><span></span></span><span><span></span></span><span><span></span></span><span><span></span></span><span><span></span></span></span>
                </div>
            </div>
        </div>
        <div id="js-currency-sidebar" class="sidebar-currency"></div>
    </div>
    <div id="modalMessage" class="modal fade modal-message js-modal-message" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger mb-0" role="alert">
                        <i class="material-icons">error_outline</i> <span class="js-modal-message-text"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade simple-modal" id="extraModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="extra-content typo js-modal-extra-content"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="st-overlay" data-close-st-menu data-close-st-cart data-close-profile-menu></div>
    <script>
        (function () {
            function toggleMenu(open) {
                var html = document.documentElement;
                if (open) { html.classList.add('st-effect-left', 'st-menu-open'); }
                else { html.classList.remove('st-effect-left', 'st-menu-open'); }
            }
            function toggleProfileMenu(open) {
                var html = document.documentElement;
                if (open) { html.classList.add('profile-effect-left', 'profile-menu-open'); }
                else { html.classList.remove('profile-effect-left', 'profile-menu-open'); }
            }
            document.querySelectorAll('[data-left-nav-trigger]').forEach(function (el) {
                el.addEventListener('click', function (e) {
                    e.preventDefault();
                    toggleMenu(true);
                });
            });
            document.querySelectorAll('[data-profile-left-nav-trigger]').forEach(function (el) {
                el.addEventListener('click', function (e) {
                    e.preventDefault();
                    toggleProfileMenu(true);
                });
            });
            document.querySelectorAll('[data-close-st-menu]').forEach(function (el) {
                el.addEventListener('click', function () { toggleMenu(false); });
            });
            document.querySelectorAll('[data-close-profile-menu]').forEach(function (el) {
                el.addEventListener('click', function () { toggleProfileMenu(false); });
            });
            document.addEventListener('keydown', function (e) { if (e.key === 'Escape') { toggleMenu(false); toggleProfileMenu(false); } });
        })();
    </script>
    <script>
        (function () {
            function setupSidebarTree() {
                document.querySelectorAll('.js-sidebar-categories').forEach(function (tree) {
                    tree.querySelectorAll('.js-collapse-trigger').forEach(function (trigger) {
                        if (trigger.dataset.treeBound) return;
                        trigger.dataset.treeBound = '1';
                        trigger.addEventListener('click', function (e) {
                            e.preventDefault();
                            e.stopPropagation();
                            var li = trigger.parentElement;
                            var sub = li ? li.querySelector(':scope > .js-sub-categories') : null;
                            var opened = trigger.classList.contains('opened');
                            if (opened) {
                                trigger.classList.remove('opened');
                                if (sub) { sub.style.display = 'none'; }
                            } else {
                                trigger.classList.add('opened');
                                if (sub) { sub.style.display = 'block'; }
                            }
                            var add = trigger.querySelector('.add');
                            var rem = trigger.querySelector('.remove');
                            if (add) { add.style.display = opened ? 'inline-block' : 'none'; }
                            if (rem) { rem.style.display = opened ? 'none' : 'inline-block'; }
                        });
                    });
                });
            }
            setupSidebarTree();
            document.addEventListener('DOMContentLoaded', setupSidebarTree);
        })();
    </script>
    <script src="/static/ThemeLayout/js/core.js"></script>
    <script src="/static/ThemeLayout/js/front.js"></script>
    <script src="/static/ThemeLayout/js/theme.min.js"></script>
    <script src="/static/ThemeLayout/js/jquery.rateyo.min.js"></script>
    <script src="/static/ThemeLayout/js/productrating.min.js"></script>
    <script src="/static/ThemeLayout/js/displayInvoiceOption.min.js"></script>
    <script src="/static/ThemeLayout/js/notifyme.min.js"></script>
    <script src="/static/ThemeLayout/js/GoogleAnalyticActionLib.min.js"></script>
    <script src="/static/ThemeLayout/js/jquery-ui.min.js"></script>
    <script src="/static/ThemeLayout/js/jquery.fancybox.js"></script>
    <script src="/static/ThemeLayout/js/ps_searchbar.js"></script>
    <script src="/static/ThemeLayout/js/ps_shoppingcart.min.js"></script>
    <script src="/static/ThemeLayout/js/graphql.js"></script>
    <script src="/static/ThemeLayout/js/vendors.js"></script>
    <script>
    // The theme bundle (theme.js/theme.min.js) targets jQuery 2.x and bootstraps its
    // home-block sliders via $(window).load(...), which jQuery 3.x removed. Re-bind the
    // same logic here so the .js-home-block-slider carousels actually initialize.
    (function () {
        if (typeof $ === 'undefined' || !window.jQuery || !$.fn.slick) { return; }
        var inited = false;

        function buildSettings(opt) {
            opt = opt || {};
            var settings = {
                slidesToScroll: 1,
                speed: 800,
                adaptiveHeight: false,
                infinite: true,
                autoplay: false,
                dots: false,
                arrows: true,
                responsive: [
                    { breakpoint: 1220, settings: { slidesToShow: opt.slidesToShow_1220 || opt.slidesToShow, slidesToScroll: 1 } },
                    { breakpoint: 992,  settings: { slidesToShow: opt.slidesToShow_992  || opt.slidesToShow, slidesToScroll: 1 } },
                    { breakpoint: 768,  settings: { slidesToShow: opt.slidesToShow_768  || opt.slidesToShow, slidesToScroll: 1 } }
                ]
            };
            return $.extend(settings, opt);
        }

        function initHomeBlockSliders() {
            if (inited) { return; }
            inited = true;
            $('.js-home-block-slider').each(function () {
                var $obj = $(this);
                var settings = buildSettings($obj.data('slickoptions'));
                if (!settings.slidesToShow) { settings.slidesToShow = 6; }
                $obj.slick(settings);
                $obj.on('beforeChange', function () {
                    $obj.find('.slick-active img.js-lazy').trigger('appear');
                });
            });
            // Re-position carousels inside hidden tab panes once their tab is shown.
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $('.js-home-block-slider', $(e.target).attr('href')).slick('refresh');
                $('img.js-lazy', $(e.target).attr('href')).trigger('appear');
            });
        }

        // slick works as soon as the DOM is parsed; do not wait for window.load
        // (images may hold it back and the theme only ever bound a jQuery-2 style load).
        if (document.readyState === 'loading') {
            document.addEventListener('DOMContentLoaded', initHomeBlockSliders);
        } else {
            initHomeBlockSliders();
        }
    })();
    </script>
    {% block extra_scripts %}{% endblock %}
    <script>
    // ── Direct cart refresh: updates header, dropdown & sidebar ──
    function refreshCartUI(callback) {
        fetch('/cart/refresh-preview')
            .then(function(r) { return r.json(); })
            .then(function(resp) {
                if (!resp.preview) return;
                var parser = new DOMParser();
                var doc = parser.parseFromString(resp.preview, 'text/html');
                // 1. Update header: replace .cart-header inside .blockcart
                var newHeader = doc.querySelector('.blockcart .cart-header');
                var oldHeader = document.querySelector('.blockcart .cart-header');
                if (newHeader && oldHeader) oldHeader.outerHTML = newHeader.outerHTML;
                // Sync mobile cart badges from the refreshed header count
                var countEl = doc.querySelector('.blockcart .cart-header .js-cart-count');
                var countText = countEl ? countEl.textContent.trim() : '0';
                document.querySelectorAll('.js-mobile-cart-count').forEach(function(el) {
                    el.textContent = countText;
                });
                // 2. Update sticky cart
                var headerSource = document.querySelector('[data-header-cart-source]');
                var stickyCart = document.querySelector('[data-sticky-cart]');
                if (headerSource && stickyCart) stickyCart.innerHTML = headerSource.innerHTML;
                // 3. Populate sidebar directly from preview
                var newDropdown = doc.querySelector('[data-shopping-cart-source]');
                var sidebar = document.getElementById('js-cart-sidebar');
                if (sidebar && newDropdown) {
                    sidebar.innerHTML = newDropdown.innerHTML;
                }
                if (callback) callback(resp);
            })
            .catch(function() { if (callback) callback({}); });
    }

    // ── Refresh on page load ──
    setTimeout(function() { refreshCartUI(); }, 100);

    // ── Add-to-cart from product cards and detail page ──
    // Capture phase ensures this handler runs before any theme JS attached to
    // the button/anchors, so clicking "خرید" adds to the basket and never
    // triggers the card's normal navigation to the product detail page.
    document.addEventListener('click', function(e) {
        var btn = e.target.closest('.js-ajax-add-to-cart');
        if (!btn) return;
        e.preventDefault();
        e.stopPropagation();
        var productId = btn.getAttribute('data-id-product');
        if (!productId) return;
        var formData = new FormData();
        formData.append('product_id', productId);
        var form = btn.closest('#add-to-cart-or-refresh');
        if (form) {
            var countInput = form.querySelector('input[name="count"]');
            formData.append('count', countInput ? parseInt(countInput.value) || 1 : 1);
            var varietyInput = form.querySelector('#selected-variety-id');
            if (varietyInput && varietyInput.value) {
                formData.append('variety_id', varietyInput.value);
            }
        } else {
            formData.append('count', 1);
            var qtyEl = btn.querySelector('.js-add-to-cart-quantity');
            if (qtyEl) {
                var minQty = parseInt(qtyEl.textContent) || 1;
                formData.set('count', minQty);
            }
        }
        btn.classList.add('disabled');
        fetch('/cart/add-ajax', { method: 'POST', body: formData })
            .then(function(r) { return r.json(); })
            .then(function(data) {
                btn.classList.remove('disabled');
                if (data.success) {
                    refreshCartUI();
                }
            })
            .catch(function() { btn.classList.remove('disabled'); });
    }, true);

    // ── Remove from cart (sidebar links) ──
    document.addEventListener('click', function(e) {
        var link = e.target.closest('.remove-from-cart');
        if (!link) return;
        var href = link.getAttribute('href');
        if (href && href.indexOf('/cart/remove-ajax/') > -1) {
            e.preventDefault();
            fetch(href).then(function(r) { return r.json(); }).then(function(data) {
                if (data.success) refreshCartUI();
            });
        }
    });

    // ── Update quantity (sidebar inputs) ──
    document.addEventListener('change', function(e) {
        var input = e.target.closest('.js-cart-line-product-quantity');
        if (!input) return;
        var itemId = input.getAttribute('data-item-id');
        var qty = parseInt(input.value) || 1;
        if (qty < 1) qty = 1;
        if (!itemId) return;
        var formData = new FormData();
        formData.append('quantity', qty);
        fetch('/cart/update-ajax/' + itemId, { method: 'POST', body: formData })
            .then(function(r) { return r.json(); }).then(function(data) {
                if (data.success) refreshCartUI();
            });
    });

    // ── Basket icon click → open sliding sidebar ──
    document.addEventListener('click', function(e) {
        var trigger = e.target.closest('[data-sidebar-cart-trigger]');
        if (!trigger) return;
        e.preventDefault();
        var html = document.documentElement;
        if (html.classList.contains('st-effect-right') && html.classList.contains('st-menu-open')) {
            html.classList.remove('st-effect-right', 'st-menu-open');
            return;
        }
        // Refresh cart data, then open sidebar
        refreshCartUI(function() {
            html.classList.add('st-effect-right', 'st-menu-open');
        });
    });
    document.querySelectorAll('[data-close-st-cart]').forEach(function(el) {
        el.addEventListener('click', function(e) {
            document.documentElement.classList.remove('st-effect-right', 'st-menu-open');
        });
    });
    </script>
    <script>
    // ── Mobile bottom nav: active-state indicator, search panel, categories drawer ──
    (function () {
        var nav = document.getElementById('mobile-bottom-nav');
        if (!nav) return;
        var items = Array.prototype.slice.call(nav.querySelectorAll('.mbn-item'));
        var indicator = nav.querySelector('.mbn-indicator');
        var searchPanel = document.getElementById('mobile-search-panel');
        var drawerEl = document.getElementById('mobile-categories-drawer');
        var drawerOverlay = document.getElementById('mobile-categories-overlay');
        var htmlEl = document.documentElement;
        var ITEM_PCT = items.length ? (100 / items.length) : 25;

        function setActive(index) {
            // index < 0 means "no tab active" (e.g. product / category pages)
            items.forEach(function (it, i) {
                it.classList.toggle('active', i === index);
            });
            if (indicator) {
                if (index < 0) {
                    indicator.style.insetInlineStart = '-100%';
                    return;
                }
                var itemW = nav.offsetWidth / items.length;
                var indW = indicator.offsetWidth;
                indicator.style.insetInlineStart = 'calc(' + (index * ITEM_PCT) + '% + ' + ((itemW - indW) / 2) + 'px)';
                nav.setAttribute('data-ready', '1');
            }
        }

        // Which bottom-nav item matches the current page?
        // 0 = home, 1 = cart/checkout, -1 = nothing (product / category pages).
        function indexForPath(p) {
            if (p === '/' || p === '/home' || p.indexOf('/home') === 0) return 0;
            if (p.indexOf('/cart') === 0 || p.indexOf('/checkout') === 0) return 1;
            return -1;
        }

        // Pick the active item from the current path on first render.
        setActive(indexForPath(window.location.pathname));

        // Tapping a non-navigating item (categories) moves the indicator
        // before running its action.
        items.forEach(function (it, i) {
            it.addEventListener('click', function () {
                setActive(i);
            });
        });

        // ── Search panel ──
        function toggleSearch(open) {
            if (!searchPanel) return;
            if (open) {
                searchPanel.classList.add('open');
                var input = searchPanel.querySelector('input[type="text"]');
                if (input) setTimeout(function(){ input.focus(); }, 80);
            } else {
                searchPanel.classList.remove('open');
            }
        }
        document.querySelectorAll('[data-mobile-search-trigger]').forEach(function (el) {
            el.addEventListener('click', function (e) {
                e.preventDefault();
                toggleSearch(!searchPanel.classList.contains('open'));
            });
        });

        // ── Categories drawer ──
        function openDrawer() {
            if (!drawerEl) return;
            drawerEl.classList.add('open');
            drawerOverlay.classList.add('open');
            setActive(2);
            htmlEl.classList.add('modal-open');
            document.body.style.overflow = 'hidden';
        }
        function closeDrawer() {
            if (!drawerEl) return;
            drawerEl.classList.remove('open');
            drawerOverlay.classList.remove('open');
            htmlEl.classList.remove('modal-open');
            document.body.style.overflow = '';
            setActive(indexForPath(window.location.pathname));
        }
        document.querySelectorAll('[data-mobile-categories-trigger]').forEach(function (el) {
            el.addEventListener('click', function (e) {
                e.preventDefault();
                openDrawer();
            });
        });
        document.querySelectorAll('[data-mobile-categories-close]').forEach(function (el) {
            el.addEventListener('click', function (e) {
                e.preventDefault();
                closeDrawer();
            });
        });

        // Re-position the indicator when the viewport resizes or fonts settle.
        window.addEventListener('resize', function () {
            setActive(activeIndex());
        });
        function activeIndex() {
            var a = -1;
            items.forEach(function (it, i) { if (it.classList.contains('active')) a = i; });
            return a;
        }
    })();
    </script>
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Website",
        "name": "آشا شاپ",
        "url": "{{ request.url_for('home_page') if request else '/' }}"
    }
    </script>
</body>
</html>
