{% extends "shop/base.html" %}
{% block title %}{{ category.title if category else (page_title or 'محصولات') }} - آشا شاپ{% endblock %}
{% block body_class %}lang-fa lang-rtl country-ir currency-irr layout-left-column page-category tax-display-enabled st-wrapper{% endblock %}
{% block extra_head %}
<style>
    .ordering { color: #999999; }
    .ordering.selected { color: #00a693; }
    .ordering:hover { color: #00a693; }
    .typo.descFull { text-align: justify; }
</style>
{% endblock %}
{% block content %}

{% if category_hierarchy or category %}
<nav class="breadcrumb-wrapper">
    <div class="container">
        <ol class="breadcrumb" data-depth="{{ 1 + (category_hierarchy|length) }}" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" href="/">
                    <i class="fa fa-home home" aria-hidden="true"></i>
                    <span itemprop="name">صفحه اصلی</span>
                </a>
                <meta itemprop="position" content="1">
            </li>
            {% for crumb in category_hierarchy or [] %}
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <span class="separator material-icons">chevron_right</span>
                <a itemprop="item" href="/Shop/Category/Index/{{ crumb.en_title or crumb.slug }}">
                    <span itemprop="name">{{ crumb.title }}</span>
                </a>
                <meta itemprop="position" content="{{ loop.index + 1 }}">
            </li>
            {% endfor %}
            {% if category %}
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <span class="separator material-icons">chevron_right</span>
                <a itemprop="item" href="/Shop/Category/Index/{{ category.en_title or category.slug }}">
                    <span itemprop="name">{{ category.title }}</span>
                </a>
                <meta itemprop="position" content="{{ 1 + (category_hierarchy|length) }}">
            </li>
            {% endif %}
        </ol>
    </div>
</nav>
{% endif %}

<aside id="notifications">
    <div class="container"></div>
</aside>

{% if category %}
<div id="js-product-list-header" class="shadow-box md-bottom">
    <div class="row" style="padding-top: 25px">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="category-cover mb-4">
                {% if category.poster_image_url %}
                <img style="width: 60%" class="img-fluid" src="{{ category.poster_image_url|media_url }}" alt="{{ category.title }}">
                {% else %}
                <img style="width: 60%" class="img-fluid" src="https://placehold.co/394x197">
                {% endif %}
            </div>
            <h1 class="page-heading js-category-page" data-current-category-id="{{ category.en_title or category.slug }}">
                <span>{{ category.title }}</span>
            </h1>
            <div class="total-products d-lg-block">
                <p>{{ total }} کالا</p>
            </div>
        </div>
        {% if category.description %}
        <div class="category-description col-lg-6 col-md-12 col-sm-12">
            <div class="js-expand-description">
                <div class="typo descFull">
                    {{ category.description|safe }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% if children %}
    <aside class="subcategories mb-2">
        <div class="relative md-bottom">
            <h3 class="sub-categories-title page-subheading">زیرمجموعه‌ها</h3>
            <hr class="sub-category-hr">
        </div>
        <div class="subcategories-wrapper row">
            {% for child in children %}
            <section class="subcategory-miniature">
                <a href="/Shop/Category/Index/{{ child.en_title or child.slug }}" title="{{ child.title }}">
                    <div class="subcategory-image">
                        {% if child.poster_image_url %}
                        <img src="{{ child.poster_image_url|media_url }}" class="img-fluid img-thumbnail" title="{{ child.title }}" width="200" height="90">
                        {% else %}
                        <img src="https://placehold.co/200x90" class="img-fluid img-thumbnail" title="{{ child.title }}" width="200" height="90">
                        {% endif %}
                    </div>
                    <h5 class="subcategory-name">{{ child.title }}</h5>
                    {% if child.description %}<div class="subcategory-description">{{ child.description[:100] }}{% if child.description|length > 100 %}...{% endif %}</div>{% endif %}
                </a>
            </section>
            {% endfor %}
        </div>
    </aside>
    {% endif %}
</div>
{% endif %}

{% if not category and page_title %}
<div class="shadow-box md-bottom">
    <div class="container" style="padding-top: 25px">
        <div class="row align-items-center">
            <div class="col-12">
                <h1 class="page-heading"><span>{{ page_title }}</span></h1>
                <div class="total-products d-lg-block"><p>{{ total }} کالا</p></div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div id="left-column" class="sidebar-column col-12 col-md-4 col-lg-3">
                <div class="column-wrapper md-bottom">
                    {% include "shop/_left_categories.html" %}

                    <div class="column-block md-bottom d-none d-md-block">
                        <div id="_desktop_search_filters">
                            <div id="search_filters">
                                <p class="column-title d-none d-md-block">فیلتر بر اساس</p>
                                <form method="GET" action="" id="facet-form">
                                    {% if category %}
                                    <input type="hidden" name="category" value="{{ category.en_title or category.slug }}">
                                    {% endif %}
                                    <input type="hidden" name="order" value="{{ order }}">
                                    {% if query %}
                                    <input type="hidden" name="query" value="{{ query }}">
                                    {% endif %}
                                    {% if tags %}
                                    <input type="hidden" name="tag" value="{{ tags|join(',') }}">
                                    {% endif %}
                                    {% if children %}
                                    <section class="facet clearfix">
                                        <h5 class="facet-title d-none d-md-block"><i class="fa fa-angle-double-right" aria-hidden="true"></i>شاخه‌ها</h5>
                                        <ul class="faceted-checkbox collapse show">
                                            {% for child in children %}
                                            <li>
                                                <div class="facet-label">
                                                    <label class="custom-checkbox">
                                                        <span class="check-wrap">
                                                            <input type="checkbox" class="filterCheckbox branch-check" value="{{ child.id }}" {% if child.id|string in branch_ids %}checked{% endif %}>
                                                            <span class="check-shape"><i class="material-icons check-icon">check</i></span>
                                                        </span>
                                                        <a class="_gray-darker" href="/Shop/Category/Index/{{ child.en_title or child.slug }}" rel="nofollow">{{ child.title }}<span class="magnitude">({{ child.product_count }})</span></a>
                                                    </label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </section>
                                    {% endif %}
                                    {% if brand_facets %}
                                    <section class="facet clearfix">
                                        <h5 class="facet-title d-none d-md-block"><i class="fa fa-angle-double-right" aria-hidden="true"></i>برند</h5>
                                        <ul class="faceted-checkbox collapse show">
                                            {% for brand in brand_facets %}
                                            <li>
                                                <div class="facet-label">
                                                    <label class="custom-checkbox">
                                                        <span class="check-wrap">
                                                            <input type="checkbox" class="filterCheckbox brand-check" value="{{ brand.id }}" {% if brand.id in brand_ids %}checked{% endif %}>
                                                            <span class="check-shape"><i class="material-icons check-icon">check</i></span>
                                                        </span>
                                                        <span class="_gray-darker" rel="nofollow">{{ brand.name }}<span class="magnitude">({{ brand.count }})</span></span>
                                                    </label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </section>
                                    {% endif %}
                                    <section class="facet clearfix">
                                        <h5 class="facet-title d-none d-md-block"><i class="fa fa-angle-double-right" aria-hidden="true"></i>قیمت</h5>
                                        <ul id="" class="faceted-slider collapse show" data-slider-min="0" data-slider-max="{{ price_max or 100000000 }}" data-slider-id="51100" data-slider-values='["{{ min_value or 0 }}","{{ max_value or price_max or 100000000 }}"]' data-slider-unit="ریال" data-slider-label="قیمت">
                                            <li>
                                                <div id="slider-range_51100" class="slider-range"></div>
                                                <p id="facet_label_51100" class="text-center font-weight-bold mt-2"></p>
                                                <input type="hidden" name="min_value" id="slider_min_value" value="{{ min_value or '' }}">
                                                <input type="hidden" name="max_value" id="slider_max_value" value="{{ max_value or '' }}">
                                            </li>
                                        </ul>
                                    </section>
                                    <button type="submit" class="btn btn-primary btn-block mt-3">اعمال فیلتر</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="aone-column">
                        <div class="column-block md-bottom clearfix no-box">
                            <div class="static-html typo">
                                <a href="#" target="_blank"><img src="/static/ThemeLayout/img/customer-support.jpg" width="750"></a>
                            </div>
                        </div>
                        <div class="column-block md-bottom clearfix shown-index">
                            <div class="static-html typo">
                                <div class="block_content">
                                    <div dir="rtl" align="justify">
                                        <div style="margin-bottom:10px;"><img src="/static/ThemeLayout/img/support.png" style="margin-left:8px;" width="38px"><span style="color:#333;font-size:1.1rem;">{{ site_info.sidebar.office_title }}</span></div>
                                        <div>{{ site_info.sidebar.office_label }}: {% if site_settings %}{{ site_settings.telephone }}{% else %}{{ site_info.sidebar.office_phone }}{% endif %}</div>
                                        <div style="font-size:12px;color:#868686;">{{ site_info.sidebar.support_hours }}</div>
                                        <div style="font-size:12px;color:#868686;">{{ site_info.sidebar.follow_up }}</div>
                                        <div style="margin-top:5px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="bottomVisible"></div>
                </div>
            </div>

            <div id="center-column" class="center-column col-12 col-md-8 col-lg-9">
                <div class="center-wrapper">
                    <section id="main">
                        {% if total != 0 %}
                        <section id="products">
                            <div class="light-box-bg md-bottom">
                                <div id="js-product-list-top" class="products-selection clearfix">
                                    <div class="row align-items-center">
                                        <div class="col-sm-12 col-12 col-md-12 col-lg-12 products-sort-order order-2">
                                            <div class="d-flex flex-wrap">
                                                <label class="form-control-label d-lg-block sort-display-label sort-label">ترتیب :</label>
                                                <div class="sort-items">
                                                    <a rel="nofollow" href="?{{ filter_qs }}{% if filter_qs %}&{% endif %}order=Sale" class="ordering {% if order == 'Sale' %}selected{% endif %}">پرفروش‌ترین</a>
                                                    <span>|</span>
                                                    <a rel="nofollow" href="?{{ filter_qs }}{% if filter_qs %}&{% endif %}order=Id" class="ordering {% if order == 'Id' %}selected{% endif %}">ردیف</a>
                                                    <span>|</span>
                                                    <a rel="nofollow" href="?{{ filter_qs }}{% if filter_qs %}&{% endif %}order=AlphabetAsc" class="ordering {% if order == 'AlphabetAsc' %}selected{% endif %}">الف تا ی</a>
                                                    <span>|</span>
                                                    <a rel="nofollow" href="?{{ filter_qs }}{% if filter_qs %}&{% endif %}order=AlphabetDesc" class="ordering {% if order == 'AlphabetDesc' %}selected{% endif %}">ی تا الف</a>
                                                    <span>|</span>
                                                    <a rel="nofollow" href="?{{ filter_qs }}{% if filter_qs %}&{% endif %}order=Cheapest" class="ordering {% if order == 'Cheapest' %}selected{% endif %}">ارزان‌ترین</a>
                                                    <span>|</span>
                                                    <a rel="nofollow" href="?{{ filter_qs }}{% if filter_qs %}&{% endif %}order=Expensive" class="ordering {% if order == 'Expensive' %}selected{% endif %}">گران‌ترین</a>
                                                </div>
                                                <div class="product-display d-md-block">
                                                    <div class="d-flex">
                                                        <label class="form-control-label display-label d-lg-block product-display-label">نمایش :</label>
                                                        <ul class="display-select" id="product_display_control">
                                                            <li class="d-flex">
                                                                <a data-view="grid" href="#grid" title="Grid" data-toggle="tooltip" data-placement="top"><i class="material-icons">view_comfy</i></a>
                                                                <a data-view="list" href="#list" title="List" data-toggle="tooltip" data-placement="top" class="selected"><i class="material-icons">view_list</i></a>
                                                                <a data-view="table-view" href="#table" title="Table" data-toggle="tooltip" data-placement="top"><i class="material-icons">view_headline</i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-3 d-block d-md-none filter-button order-3">
                                            <button id="search_filter_toggler" class="btn btn-primary"><i class="fa fa-filter" aria-hidden="true"></i> فیلتر</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="md-bottom">
                                <div id="_mobile_search_filters" class="mobile-search-fillter light-box-bg d-md-none md-bottom"></div>
                                <div id="js-active-search-filters"></div>
                                <div id="js-filter-scroll-here"></div>
                                <div id="js-product-list" data-grid-columns="columns-4">
                                    <div class="product-list light-box-bg md-bottom">
                                        <div id="categoryProducts" class="products product-list-wrapper clearfix columns-4 js-product-list-view list">
                                            {% for product in products %}
                                            {% include "shop/_product_list_card.html" %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% if total_pages > 1 %}
                                    <div class="pagination-wrapper light-box-bg clearfix">
                                        <nav class="pagination">
                                            <ul class="page-list">
                                                {% set last = total_pages %}
                                                {% set query_str = filter_qs + ('&' if filter_qs else '') + 'order=' + order %}
                                                {% if total_pages < 6 %}
                                                    {% if page != last %}
                                                    <li>
                                                        <a rel="next" href="?{{ query_str }}&page={{ page + 1 }}" class="next"><span class="prev-next-pagination">بعدی</span><i class="material-icons d-none">navigate_next</i></a>
                                                    </li>
                                                    {% endif %}
                                                    {% for p in range(1, last + 1) %}
                                                    <li {% if p == page %}class="current"{% endif %}>
                                                        <a rel="nofollow" href="?{{ query_str }}&page={{ p }}" data-pageNo="{{ p }}">{{ p }}</a>
                                                    </li>
                                                    {% endfor %}
                                                    {% if page != 1 %}
                                                    <li>
                                                        <a rel="prev" href="?{{ query_str }}&page={{ page - 1 }}" class="previous"><i class="material-icons d-none">navigate_before</i><span class="prev-next-pagination">قبلی</span></a>
                                                    </li>
                                                    {% endif %}
                                                {% elif page > 3 %}
                                                    {% if page != last %}
                                                    <li>
                                                        <a rel="next" href="?{{ query_str }}&page={{ page + 1 }}" class="next"><span class="prev-next-pagination">بعدی</span><i class="material-icons d-none">navigate_next</i></a>
                                                    </li>
                                                    {% endif %}
                                                    <li><a rel="nofollow" href="?{{ query_str }}&page=1" data-pageNo="1">1</a></li>
                                                    <li><span class="spacer">…</span></li>
                                                    {% if page == last %}
                                                    <li><a rel="nofollow" href="?{{ query_str }}&page={{ page - 2 }}" data-pageNo="{{ page - 1 }}">{{ page - 2 }}</a></li>
                                                    {% endif %}
                                                    <li><a rel="nofollow" href="?{{ query_str }}&page={{ page - 1 }}" data-pageNo="{{ page - 1 }}">{{ page - 1 }}</a></li>
                                                    <li class="current"><a rel="nofollow" href="?{{ query_str }}&page={{ page }}" data-pageNo="{{ page }}">{{ page }}</a></li>
                                                    {% if page < last %}
                                                    <li><a rel="nofollow" href="?{{ query_str }}&page={{ page + 1 }}" data-pageNo="{{ page + 1 }}">{{ page + 1 }}</a></li>
                                                        {% if page < last - 2 %}
                                                        <li><span class="spacer">…</span></li>
                                                        <li><a rel="nofollow" href="?{{ query_str }}&page={{ last }}" data-pageNo="{{ last }}" class="disabled">{{ last }}</a></li>
                                                        {% elif page == last - 2 %}
                                                        <li><a rel="nofollow" href="?{{ query_str }}&page={{ last }}" data-pageNo="{{ last }}" class="disabled">{{ last }}</a></li>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if page != 1 %}
                                                    <li>
                                                        <a rel="prev" href="?{{ query_str }}&page={{ page - 1 }}" class="previous"><i class="material-icons d-none">navigate_before</i><span class="prev-next-pagination">قبلی</span></a>
                                                    </li>
                                                    {% endif %}
                                                {% else %}
                                                    {% if page != last %}
                                                    <li>
                                                        <a rel="next" href="?{{ query_str }}&page={{ page + 1 }}" class="next"><span class="prev-next-pagination">بعدی</span><i class="material-icons d-none">navigate_next</i></a>
                                                    </li>
                                                    {% endif %}
                                                    {% for p in range(1, 4) %}
                                                    <li {% if p == page %}class="current"{% endif %}>
                                                        <a rel="nofollow" href="?{{ query_str }}&page={{ p }}" data-pageNo="{{ p }}">{{ p }}</a>
                                                    </li>
                                                    {% endfor %}
                                                    {% if page == 3 %}
                                                    <li><a rel="nofollow" href="?{{ query_str }}&page=4" data-pageNo="4">4</a></li>
                                                    {% endif %}
                                                    <li><span class="spacer">…</span></li>
                                                    <li><a rel="nofollow" href="?{{ query_str }}&page={{ last }}" data-pageNo="{{ last }}">{{ last }}</a></li>
                                                    {% if page != 1 %}
                                                    <li>
                                                        <a rel="prev" href="?{{ query_str }}&page={{ page - 1 }}" class="previous"><i class="material-icons d-none">navigate_before</i><span class="prev-next-pagination">قبلی</span></a>
                                                    </li>
                                                    {% endif %}
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                    {% endif %}
                                </div>
                                <div id="js-product-list-bottom"></div>
                            </div>
                        </section>
                        {% else %}
                        <div class="text-center py-16">
                            <i class="fas fa-box-open text-5xl mb-4"></i>
                            <p>محصولی یافت نشد</p>
                        </div>
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
(function () {
    var form = document.getElementById('facet-form');
    if (!form) return;
    form.addEventListener('submit', function () {
        var branches = Array.prototype.map.call(form.querySelectorAll('.branch-check:checked'), function (cb) { return cb.value; }).join(',');
        var brands = Array.prototype.map.call(form.querySelectorAll('.brand-check:checked'), function (cb) { return cb.value; }).join(',');
        var hBranches = form.querySelector('input[name="branches"]');
        var hBrands = form.querySelector('input[name="brands"]');
        if (branches) {
            if (!hBranches) { hBranches = document.createElement('input'); hBranches.type = 'hidden'; hBranches.name = 'branches'; form.appendChild(hBranches); }
            hBranches.value = branches;
        }
        if (brands) {
            if (!hBrands) { hBrands = document.createElement('input'); hBrands.type = 'hidden'; hBrands.name = 'brands'; form.appendChild(hBrands); }
            hBrands.value = brands;
        }
    });

    // Price slider
    var $slider = $('#slider-range_51100');
    if ($slider.length) {
        var $ul = $slider.closest('.faceted-slider');
        var min = parseFloat($ul.data('slider-min')) || 0;
        var max = parseFloat($ul.data('slider-max')) || 100000000;
        var rawValues = $ul.data('slider-values');
        var vals = (rawValues && Array.isArray(rawValues)) ? rawValues : [null, null];
        var currentMin = vals[0] !== null && vals[0] !== undefined ? parseFloat(vals[0]) : min;
        var currentMax = vals[1] !== null && vals[1] !== undefined ? parseFloat(vals[1]) : max;
        var unit = $ul.data('slider-unit') || 'ریال';
        var $label = $('#facet_label_51100');
        var $minInput = $('#slider_min_value');
        var $maxInput = $('#slider_max_value');

        function formatPrice(value) {
            return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        $slider.slider({
            range: true,
            min: min,
            max: max,
            values: [currentMin, currentMax],
            slide: function (event, ui) {
                $label.text(formatPrice(ui.values[0]) + ' ' + unit + ' - ' + formatPrice(ui.values[1]) + ' ' + unit);
                $minInput.val(ui.values[0]);
                $maxInput.val(ui.values[1]);
            }
        });
        $label.text(formatPrice(currentMin) + ' ' + unit + ' - ' + formatPrice(currentMax) + ' ' + unit);
        $minInput.val(currentMin);
        $maxInput.val(currentMax);
    }
})();
</script>
{% endblock %}