{% extends "shop/base.html" %}
{% block title %}بازیابی رمز عبور | آشا شاپ{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="/static/ThemeLayout/iverify-auth17.css" type="text/css" media="all">
{% endblock %}
{% block body_id %}module-iverify-authentication{% endblock %}
{% block body_class %}lang-fa lang-rtl country-ir currency-irr layout-full-width st-wrapper{% endblock %}

{% block content %}
<div class="main-content">
    <div class="container">
        <div class="row">
            <div id="center-column" class="center-column col-12 col-md-8 col-lg-9">
                <div class="center-wrapper">
                    <section id="main" class="box-bg-title-body">
                        <div class="title">
                            <h4 class="page-heading" style="margin-bottom: 0; font-size: 1.2rem; padding: 0;">بازیابی رمز عبور</h4>
                        </div>
                        <div class="body">
                            <section id="content" class="page-content">
                                {% if error %}<aside id="notifications"><div class="container"><article class="alert alert-danger" role="alert"><ul><li>{{ error }}</li></ul></article></div></aside>{% endif %}
                                <div class="address-form">
                                    <div class="js-address-form">
                                        <form method="post" action="{{ url_for('shop_reset_password') }}">
                                            <input type="hidden" name="code" value="{{ token }}">
                                            <section class="form-fields">
                                                <div class="form-group row">
                                                    <label class="col-12 col-lg-3 form-control-label">ایمیل</label>
                                                    <div class="col-12 col-lg-6">
                                                        <input name="email" class="form-control" type="email" value="{{ email or '' }}">
                                                        {% if email_error %}<span class="text-danger">{{ email_error }}</span>{% endif %}
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-12 col-lg-3 form-control-label">رمز عبور جدید</label>
                                                    <div class="col-12 col-lg-6">
                                                        <input name="new_password" class="form-control" type="password">
                                                        {% if password_error %}<span class="text-danger">{{ password_error }}</span>{% endif %}
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-12 col-lg-3 form-control-label">تکرار رمز عبور</label>
                                                    <div class="col-12 col-lg-6">
                                                        <input name="confirm_password" class="form-control" type="password">
                                                        {% if confirm_error %}<span class="text-danger">{{ confirm_error }}</span>{% endif %}
                                                    </div>
                                                </div>
                                            </section>
                                            <div class="form-footer row align-items-end">
                                                <div class="col-lg-3"></div>
                                                <div class="col-lg-6 text-center">
                                                    <button class="btn btn-primary form-control-submit" type="submit"><i class="fa fa-success"></i>بازیابی رمز عبور</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
