{% extends "shop/base.html" %}
{% block title %}تغییر رمز عبور | آشا شاپ{% endblock %}
{% block body_id %}module-iverify-authentication{% endblock %}
{% block body_class %}lang-fa lang-rtl country-ir currency-irr layout-full-width st-wrapper{% endblock %}

{% block content %}
<div class="main-content">
    <div class="container">
        <div class="row">
            <div id="center-column" class="center-column col-12">
                <div class="center-wrapper">
                    <section id="main" class="box-bg-title-body">
                        <div class="title"></div>
                        <div class="body">
                            <section id="content" class="page-content">
                                <div class="row justify-center-verif">
                                    <div class="col-xs-12 col-sm-6 col-md-5 text-center">
                                        <h3 class="page-subheading">رمز عبور شما با موفقیت تغییر کرد</h3>
                                        <p class="submit">
                                            <a class="button btn btn-success" href="{{ login_url }}">ورود</a>
                                        </p>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
