{% extends "shop/base.html" %}
{% block title %}تأیید شماره موبایل | آشا شاپ{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="/static/ThemeLayout/iverify-auth17.css" type="text/css" media="all">
{% endblock %}
{% block body_id %}module-iverify-authentication{% endblock %}
{% block body_class %}lang-fa lang-rtl country-ir currency-irr layout-full-width st-wrapper{% endblock %}

{% block content %}
<div class="main-content">
    <div class="container">
        <div class="row">
            <div id="center-column" class="center-column col-12">
                <div class="center-wrapper">
                    <section id="main" class="box-bg-title-body">
                        <div class="title"></div>
                        <div class="body">
                            <section id="content" class="page-content">
                                {% if message %}
                                <aside id="notifications">
                                    <div class="container">
                                        <article class="alert alert-success" role="alert" data-alert="success">
                                            <ul><li>{{ message }}</li></ul>
                                        </article>
                                    </div>
                                </aside>
                                {% endif %}
                                <div id="noSlide">
                                    <div class="row justify-center-verif">
                                        <div class="col-xs-12 col-sm-6 col-md-5" id="verify">
                                            {% if error %}<div class="alert alert-danger" id="verify_error">{{ error }}</div>{% endif %}
                                            <form method="post" action="{{ url_for('shop_sms_confirmation') }}" id="login_form" class="box ajax-form">
                                                <h3 class="page-subheading">شماره موبایل خود را تأیید کنید</h3>
                                                <div class="form_content clearfix">
                                                    <h4 class="verify-loginform">{{ masked_phone }} <a id="change_number" href="{{ change_url }}">تغییر</a></h4>
                                                    <div class="form-group">
                                                        <label for="code">لطفا کد تأیید ارسال شده به شماره خود را وارد کنید</label>
                                                        <input placeholder="کد تأیید" name="sms_code" class="is_required validate account_input form-control" type="text" data-validate="isPasswd" id="passwd">
                                                        {% if sms_error %}<span class="text-danger">{{ sms_error }}</span>{% endif %}
                                                    </div>
                                                    {% if cap_url and not disable_captcha %}
                                                    <div class="form-group">
                                                        <img id="capImg" src="{{ cap_url }}" alt="Image" style="margin-bottom: 1.2rem; max-width:100%;">
                                                        <img class="refreshIcon" src="/static/ThemeLayout/iconsvg/icons8-refresh.svg" style="cursor:pointer;" alt="refresh">
                                                        <div style="width: 15rem;">
                                                            <input name="captcha_code" value=" " placeholder="کد کپچا" class="is_required validate account_input form-control" type="text">
                                                            {% if captcha_error %}<span class="text-danger">{{ captcha_error }}</span>{% endif %}
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                    <p class="submit">
                                                        <input type="hidden" name="need_confirm_phone" value="{{ 'true' if need_confirm_phone else 'false' }}">
                                                        <input type="hidden" class="hidden" name="email_or_phone" value="{{ email_or_phone }}">
                                                        <input type="hidden" name="returnUrl" value="{{ return_url or '/' }}">
                                                        {% if cap_id %}<input type="hidden" name="cap_id" value="{{ cap_id }}">{% endif %}
                                                        <button type="submit" id="SubmitLogin" name="SubmitLogin" class="button btn btn-success">
                                                            <span><i class="fa fa-check"></i> تأیید</span>
                                                        </button>
                                                    </p>
                                                    <div id="timerofsendcode" class="btn">
                                                        <div class="countdown">{{ timer }}</div>
                                                        <span>دقیقه</span>
                                                    </div>
                                                    <a id="resend" href="{{ resend_url }}" title="ارسال مجدد پیامک" rel="nofollow" class="resendsms btn btn-info" style="display: none;">
                                                        <h4><i class="icon icon-repeat"></i> ارسال مجدد پیامک</h4>
                                                    </a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="/static/ThemeLayout/js/iverify_auth.js"></script>
<script>
    var resend_time = "{{ timer }}";
    $(document).ready(function () {
        $('#resend').hide();
        $('.resendsms').hide();
        verifyTimer();
    });
    function verifyTimer() {
        if (resend_time == "-1:-1") {
            $('#timerofsendcode').hide();
            $('#resend').show();
        } else {
            $('#timerofsendcode').show();
            $('#resend').hide();
        }
        var interval = setInterval(function () {
            var timer = resend_time.split(':');
            var minutes = parseInt(timer[0], 10);
            var seconds = parseInt(timer[1], 10);
            --seconds;
            minutes = (seconds < 0) ? --minutes : minutes;
            seconds = (seconds < 0) ? 59 : seconds;
            seconds = (seconds < 10) ? '0' + seconds : seconds;
            $('.countdown').html(minutes + ':' + seconds);
            if (minutes < 0) clearInterval(interval);
            if ((seconds <= 0) && (minutes <= 0)) clearInterval(interval);
            resend_time = minutes + ':' + seconds;
            if (seconds <= 0 && minutes <= 0) {
                $('#timerofsendcode').hide();
                $('#resend').show();
            }
        }, 1000);
    }
</script>
{% endblock %}
