<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تأیید ایمیل</title>
</head>
<body class="body" style="width:100% !important; min-height:100% !important; margin:0 !important; padding:0 !important; line-height:1.5; color:#2D3A41; background-color:#f4f4f4;" bgcolor="#f4f4f4">
    <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed; background-color:#f4f4f4;" bgcolor="#f4f4f4">
        <tr><td align="center" valign="top">
            <table role="presentation" align="center" width="600" style="width:600px; max-width:600px;" border="0" cellpadding="0" cellspacing="0">
                <tr><td style="padding:20px 0;" align="center" valign="top">
                    <table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr><td style="padding:40px; border-radius:0; background-color:#bcd2b4;" bgcolor="#bcd2b4">
                            <table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr><td align="center" style="padding:0 0 30px;">
                                    <div style="font-family:'Fira Sans',Arial,sans-serif; font-size:36px; font-weight:800; color:#1147ce; text-align:center;">
                                        <span style="color:#422037;">به همدوس خوش آمدید</span>
                                    </div>
                                </td></tr>
                                <tr><td align="center" style="padding:0 0 29px;">
                                    <div style="font-family:'Fira Sans',Arial,sans-serif; font-size:18px; font-weight:300; color:#422037; text-align:center;">
                                        برای تایید ایمیل خود لطفا روی دکمه زیر کلیک کنید
                                    </div>
                                </td></tr>
                                <tr><td align="center" style="padding:0;">
                                    <a style="display:inline-block; border-radius:8px; background-color:#1595e7; padding:15px 17px; font-family:'Fira Sans',Arial,sans-serif; font-weight:500; font-size:16px; color:#ffffff; text-align:center; text-decoration:none;" href="{{ callback_url }}" target="_blank">
                                        <span style="font-family:Iransans,sans-serif; font-size:1.21875rem; font-weight:700;">تایید ایمیل</span>
                                    </a>
                                </td></tr>
                            </table>
                        </td></tr>
                    </table>
                </td></tr>
            </table>
        </td></tr>
    </table>
</body>
</html>
